<div class="container">

    <h3>AWS Stands for...</h3>

    <div>
        <input type="radio" name="question-1-answers" id="question-1-answers-A" value="A"/>
        <label for="question-1-answers-A">Amazon Web Services</label>
    </div>

    <div>
        <input type="radio" name="question-1-answers" id="question-1-answers-B" value="B" />
        <label for="question-1-answers-B">Amazon Web Systems</label>
    </div>

    <div>
        <input type="radio" name="question-1-answers" id="question-1-answers-C" value="C" />
        <label for="question-1-answers-C">Amazon Water Systems</label>
    </div>

    <div>
        <input type="radio" name="question-1-answers" id="question-1-answers-D" value="D" />
        <label for="question-1-answers-D">None of the above</label>
    </div>

    <button type="button" class="btn btn-success">Submit</button>

</div>
