<div class="container">

    <h3>{{question}} </h3>

<table>
    <tr *ngFor="let option of options; let i = option"  (click)="radioButtonSelect(option)">
        <td ><input type="radio" name="radioGroup" value="{{option.value}}" >
    </td>
    <td class="optionValue"><i>{{option.value}}</i></td>
</table>
    <button *ngIf="!isComplete" type="button" class="btn btn-success" [disabled]="buttonEnabled" (click) = "nextQuestion()" >Next</button>
    <button *ngIf="isComplete" type="button" class="btn btn-success" [disabled]="buttonEnabled" (click) = "submitQuiz()">
    Submit
    </button>
</div>
